<input 
    type="file"
    accept=".csv"
    #file
    style="display: none"
    (change)="onFilesAdded()"
    multiple
/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 mat-dialog-title>Upload Files</h1>
    <div>
        <button
            [disabled]="uploading || uploadSuccessful"
            mat-raised-button
            color="primary"
            class="add-files-btn"
            (click)="addFiles()"
        >
            Add Files
        </button>
    </div>

    <!-- Without expansion panel -->
    <!-- <mat-dialog-content fxFlex>
        <mat-list>
            <mat-list-item *ngFor="let file of files">
                <h4 mat-line>{{file.name}}</h4>
                <mat-progress-bar
                    *ngIf="progress"
                    mode="determinate"
                    [value]="progress[file.name].progress | async"
                ></mat-progress-bar>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content> -->

    <!-- With expansion panel -->
    <mat-dialog-content fxFlex>
        <mat-expansion-panel *ngFor="let file of files">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p mat-line>{{file.name}}</p>
                </mat-panel-title>
                <mat-panel-description>
                    <mat-progress-bar
                            *ngIf="progress"
                            mode="determinate"
                            [value]="progress[file.name].progress | async"
                        ></mat-progress-bar>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>File Name: {{ file.name }}</p>
            <p>File Type: {{ file.type }}</p>
            <p>Size: {{ file.size | filesize }}</p>
            <p>Last modified: {{ file.lastModified | date }}</p>
        </mat-expansion-panel>
    </mat-dialog-content>

    <mat-dialog-actions class="actions">
        <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">
            {{primaryButtonText}}
        </button>
    </mat-dialog-actions>

</div>