@import "variables";

.main-page-content {
    position: relative;
    left: $page-header-width;
    width: calc(100% - #{$page-header-width});
    min-height: 100vh;
    padding: 30px;
    color: $main-page-content-txtColor;
    background: $main-page-content-bgColor;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      
       
        > article {
            display: flex;
            height: 300px;
            background: $main-page-content-blockColor;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }
       
        > article:first-child,
        article:last-child {
            grid-column: 1 / -1;
        }
    }
}