<header class="page-header">
    <nav>
        <a href="#0">
            <img class="logo" src="assets/images/aide-logo.png" alt="aide logo">
        </a>
        <button class="toggle-mob-menu">
            <svg width="20" height="20" aria-hidden="true">
                <use xlink:href="#down"></use>
            </svg>
        </button>
        <ul class="admin-menu">
            <li class="menu-heading">
                <h3>Admin</h3>
            </li>
            <li>
                <a [routerLink]="'/file-explorer'">
                    <svg>
                        <use xlink:href="#pages"></use>
                    </svg>
                    <span>File explorer</span>
                </a>
            </li>
            <li>
                <a [routerLink]="''">
                    <svg>
                        <use xlink:href="#collection"></use>
                    </svg>
                    <span>Jobs</span>
                </a>
            </li>
            <li>
                <a [routerLink]="''">
                    <svg>
                        <use xlink:href="#charts"></use>
                    </svg>
                    <span>Charts</span>
                </a>
            </li>

            <li class="menu-heading">
                <h3>Settings</h3>
            </li>
            <li>
                <a [routerLink]="''">
                    <svg>
                        <use xlink:href="#options"></use>
                    </svg>
                    <span>Configurations</span>
                </a>
            </li>

            <li>
                <button class="collapse-btn" aria-expanded="true" aria-label="collapse menu">
                    <svg aria-hidden="true">
                        <use xlink:href="#collapse"></use>
                    </svg>
                    <span>Collapse</span>
                </button>
            </li>
        </ul>
    </nav>
</header>